<article class="flex flex-col gap-14 px-20">
    <article>
        @for (phone of phones; track phone.id) {
            <div class="flex gap-20 items-center">
                <img class="w-1/6" src="{{phone.image}}" alt="" srcset="">
                <div class="text-center w-full">
                    <p>{{phone.name}}</p>
                    <p>{{phone.description}}</p>
                </div>
                <p>{{phone.price}}€</p>
                <div class="flex gap-12 w-full text-white">
                    <button (click)="incrementPhone(phone)" class="w-1/12 rounded bg-gradient-to-r from-sky-500 to-indigo-500">+</button>
                    <p class="text-black" >{{phone.cant}}</p>
                    <button (click)="decrementPhone(phone)" class="w-1/12 rounded bg-gradient-to-r from-sky-500 to-indigo-500">-</button>
                </div>
                <button (click)="deletePhone(phone.id)" class="w-1/4 h-10 text-white rounded bg-gradient-to-r from-red-500 to-orange-500">Delete</button>
            </div>
        }
    </article>
    @if (phones.length > 0) {
        <app-register-purchase></app-register-purchase>
    }
</article>

