<article class="bg-gradient-to-r grid grid-cols-2 from-sky-500 to-indigo-500  text-white px-20 py-5">
    <div class="flex items-center text-3xl">
        <a [routerLink]="''" class="cursor-pointer">Phone Shop</a>
    </div>
    <ul class="flex gap-10 justify-end items-center">
        <li>
            <a [routerLink]="'cart'" class="cursor-pointer flex w-52 text-2xl bg-white p-3 rounded items-center justify-center gap-5 text-blue-500">Checkout<i class="fa-solid fa-cart-shopping"></i>                </a>
        </li>
    </ul>
</article>